

    <% if current_user %>
      <div class="button-large" id="signup">
        <%= link_to "Dashboard", user_leads_url(session[:user_id]), class: "home_button"  %>
      </div>

    <% else %>
    <h1> Job Hunter </h3>
     <h3> Your own personal tool to help you stay organized during your web development job hunt.  </h3>
    
      <%= link_to "Sign up with Email", new_user_path, class: "home_button" %> 
    
      
  
<% end %>







