

    <% if current_user %>
      <div class="button-large" id="signup">
        <%= link_to "Dashboard", user_leads_url(session[:user_id]), class: "home_button"  %>
      </div>

    <% else %>
    <h1> Job Hunter </h3>
     <h3> Your own personal tool to help you stay organized during your web development job hunt.  </h3>
    
      <%= link_to "Sign up with Email", new_user_path, class: "home_button" %> 
    
      
  
<% end %>





<div class="mySlides fade">
  <img src="https://cdn-media-1.freecodecamp.org/images/1*zVDcaM6mqhi9m0LP_Sq4Ag.jpeg" style="width:100%">
  
</div>

<div class="mySlides fade">
  
  <img src="https://miro.medium.com/max/1200/1*pG4xjXqefJaqbP-4Zx685g.png" style="width:100%">
  
</div>

<div class="mySlides fade">
  
  <img src="https://dmi-uploads.imgix.net/general/blog_interviewtips.jpg?fm=jpg&ixlib=php-1.1.0&q=3&w=2060&s=69e8a63cac5c7ae8ea01a7483bd117a1" style="width:100%">
  
</div>

</div>


<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>



